<ion-content [fullscreen]="true">

  <div class="body">
    <h1>สินค้าร้านกุ้งพระราม 7</h1>
  </div>
  <!-- 
  <ion-item>
    <ion-grid class="menu" [fixed]="true">
      <ion-row>
        <ion-col class="img">
          <img src="../../assets/img/Car .png">
        </ion-col>
        <ion-col class="text">
          <ion-label>ชื่อสินค้า :</ion-label>
          <ion-label>ราคา :</ion-label>
          <ion-label>ประเภท :</ion-label>
          <ion-label>
            <ion-button class="button" color="danger">ลบ</ion-button>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item> -->

  <ion-item>
    <ion-grid class="menu" [fixed]="true">
      <ion-row>
        <ion-col class="img">
          <img src="../../assets/img/Car .png">
        </ion-col>
        <ion-col class="text">
          <ion-col class="t1">
            <ion-label>ชื่อสินค้า</ion-label>
            <ion-label>25156626</ion-label>
          </ion-col>
          <ion-col class="t2">
            <ion-button class="button-sell">ขาย</ion-button>
            <ion-label>สินค้าทั้งหมด : 99999</ion-label>
          </ion-col>
          <ion-col class="t3">
            <ion-label>999 บาท</ion-label>
            <ion-button class="button-correct">แก้ไข</ion-button>
            <ion-button class="button-delete">ลบ</ion-button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>